/build/
/build-mac/
/out/
/.vs/
/CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt
compile_commands.json
*.user
*.suo
*.VC.db*
x64/
Win32/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
.DS_Store
